<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
<body>
  <% include partials/_header %>
  <table>
    <tr>
      <th>
        Short Link
      </th>
      <th>
        Original Link
      </th>
      <th>
        Action
      </th>
    </tr>
    <% Object.keys(urls).forEach(function (url) { %>
      <tr>
        <td>
        <a href="/u/<%= url %>">http://tiny.app/u/<%= url %></a>:
      </td>
      <td>
        <a href="<%= urls[url] %>"><%= urls[url] %></a>
      </td>
      <td>
        <a href="/urls/<%= url %>">Edit</a>
        <form method="POST" action="/urls/<%= url %>/delete">
          <button type="delete" class="btn btn-info" value ="delete">Delete</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </table>
  <% include partials/footer %>